@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using OnlineClearanceCore.Core.Entities
@using OnlineClearanceWeb.IServices

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserService userService

@{
    var model = await UserManager.GetUserAsync(User);

    var user = await userService.GetUserWithRolesAndMenus(model.Id);
}
@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>SPY Online Cleareance</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="#">
        <meta name="keywords" content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
        <meta name="author" content="#">

        <link rel="icon" href="https://colorlib.com//polygon/adminty/files/assets/images/favicon.ico" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="~/css/bower_components/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="~/css/assets/icon/feather/css/feather.css">

        <link rel="stylesheet" type="text/css" href="~/css/assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="~/css/assets/css/jquery.mCustomScrollbar.css">
        <script src="~/dist/app.js" defer></script>

    </head>
    <body>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online Clearance</title>

    <!---------------------------------Login page css---->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">

    <!-- main CSS
        ============================================ -->
    <link href="~/src/css/app.css" rel="stylesheet" />
    <script src="~/dist/app.js" defer></script>
</head>
<body class="app">
    <!-- Navigation Bar-->
    <partial name="Inc/_mobileNav" model="user" />
    <div class="flex">
        <partial name="Inc/_Navbar" model="user" />
        <!-- BEGIN: Content -->
        <div id="app" class="content">
            <partial name="Inc/_TopNav" />
            @RenderBody()
        </div>
        <!-- END: Content -->
    </div>
    @*@if (SignInManager.IsSignedIn(User))
        {
            var model = await UserManager.GetUserAsync(User);

            var user = await userService.GetUserWithRolesAndMenus(model.Id);
            <div id="app">

                <div class="theme-loader">
                    <div class="ball-scale">
                        <div class='contain'>
                            <div class="ring">
                                <div class="frame"></div>
                            </div>
                            <div class="ring">
                                <div class="frame"></div>
                            </div>
                            <div class="ring">
                                <div class="frame"></div>
                            </div>
                            <div class="ring">
                                <div class="frame"></div>
                            </div>
                            <div class="ring">
                                <div class="frame"></div>
                            </div>
                            <div class="ring">
                                <div class="frame"></div>
                            </div>
                            <div class="ring">
                                <div class="frame"></div>
                            </div>
                            <div class="ring">
                                <div class="frame"></div>
                            </div>
                            <div class="ring">
                                <div class="frame"></div>
                            </div>
                            <div class="ring">
                                <div class="frame"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pcoded" class="pcoded">
                    <div class="pcoded-overlay-box"></div>
                    <div class="pcoded-container navbar-wrapper">
                        <partial name="_header" />

                        <div class="pcoded-main-container">
                            <div class="pcoded-wrapper">
                                <partial name="_menu" model="user" />
                                <div class="pcoded-content">
                                    <div class="pcoded-inner-content">
                                        <div class="main-body">
                                            @RenderBody()
                                        </div>
                                        <div id="styleSelector">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }*@

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <!-- main JS
    ============================================ -->
    <script src="~/src/js/app.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@*<script type="text/javascript" src="~/css/bower_components/jquery/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/css/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/css/bower_components/popper.js/js/popper.min.js"></script>
        <script type="text/javascript" src="~/css/bower_components/bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="~/css/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

        <script type="text/javascript" src="~/css/bower_components/modernizr/js/modernizr.js"></script>
        <script type="text/javascript" src="~/css/bower_components/modernizr/js/css-scrollbars.js"></script>

        <script type="text/javascript" src="~/css/bower_components/chart.js/js/Chart.js"></script>

        <script src="~/css/assets/pages/widget/amchart/amcharts.js"></script>
        <script src="~/css/assets/pages/widget/amchart/serial.js"></script>
        <script src="~/css/assets/pages/widget/amchart/light.js"></script>

        <script type="text/javascript" src="~/css/assets/js/SmoothScroll.js"></script>
        <script src="~/css/assets/js/pcoded.min.js"></script>
        <script src="~/css/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/css/assets/js/vartical-layout.min.js"></script>
        <script type="text/javascript" src="~/css/assets/pages/dashboard/analytic-dashboard.min.js"></script>
        <script type="text/javascript" src="~/css/assets/js/script.js"></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-23581568-13');
        </script>


        @RenderSection("Scripts", required: false)
    </body>
    </html>*@
