@model IEnumerable<OnlineClearanceCore.Core.Entities.Student>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Students";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/data-table/bootstrap-table.css" rel="stylesheet" />
    <img src="~/img/logo/download.png" style="text-align:center" />
</head>
<body>
    <img src="C:\Users\Home\source\repos\OnlineClearanceSystem\OnlineClearanceWeb\wwwroot\img\logo\logo.png" style="margin-left:600px" />
    @*<img src="@Context.s.MapPath("~/img/logo/download.png")" />*@
    <h2 style="text-align:center">ADAMAWA POLYTECHNIC CLEARANCE PAPPER</h2>

    <h3>Student ID: @*@Context.Session.GetString("StudentNumber")*@</h3>
    <img style="width:200px;height:150px" src="C:\Users\Home\source\repos\OnlineClearanceSystem\OnlineClearanceWeb\wwwroot\img\student\2.jpg" />
    <span></span>
    <span style="float:right;position:relative;top:-25px;"><b>Produced on:</b>@DateTime.Now.ToShortDateString()</span>

    <table cellpadding="4" cellspacing="0" class="table" style="width:100%">
            @foreach (var a in Model)
            {
                <tr>
                    <th scope="col">Student Id: @a.StudentId</th>
                    <th scope="col">Name:  @a.FirstName @a.OtherNames</th>
                </tr>

                <tr>
                    <th scope="col">Graduation Date  @a.GraduatedDate.Value.ToShortDateString()</th>
                    <th scope="col">Department: @a.department  Course: @a.CourseProgram </th>
                   
                </tr>

                <tr>
                    <th scope="col">GPA: @a.GPA</th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">HOD</th>
                    <th scope="col"></th>
                    <th scope="col">Admin</th>
                    <th scope="col"></th>
                    <th scope="col">Library</th>
                </tr>
                <tr>

                    <th scope="col">@a.ApprovedByHOD <br />@a.ApprovedDateHOD.Value.ToShortDateString() <br />@a.hodremark</th>
                    <th scope="col"></th>
                    <th scope="col">@a.ApprovedByAdmin <br />@a.ApprovedDateAdmin.Value.ToShortDateString()<br />@a.adminremark</th>
                    <th scope="col"></th>
                    <th scope="col">@a.ApprovedByLibrary<br />@a.ApprovedDateLIB.Value.ToShortDateString() <br />@a.libremark</th>


                </tr>
            }


    </table>


</body>
</html>

